@import '../../common.scss';
.login{
    height: 100vh;
    background-color: #f8c387;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        width: 65%;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        min-height: 500px;
        overflow: hidden;
        .left{
            flex: 1;
            background: linear-gradient(rgba(199, 105, 105, 0.5), rgba(28, 11, 11, 0.5)), url('../../assets/images/login/login-left-side.jpg') center ;
            background-size: cover;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;
            justify-content: flex-start;
            
            @include tablet {
                justify-content: space-evenly;
            }
            @include smallTablet {
                display: none;
                
            }
            
            h1{
                font-size: 60px;
                @include tablet {
                    font-size: 40px;
                }
            }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                color: rgb(54, 2, 2);
                background-color: #fff;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;

            @include mobile {
                padding: 18px;
            }
            
            h1{
                color: rgb(64, 10, 10);
            }
            span{
                display: none;
                @include smallTablet {
                    font-size: 12px;
                    display: inline;
                }
            }
            a{
                display: none;
                @include smallTablet {
                    display: inline;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: 0.5px solid rgb(54, 2, 2);
                    color: rgb(54, 2, 2);
                    background-color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border:none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                a{
                    display: inline;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(190, 52, 52);
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}